body {
    background-color: white;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
}

header .encabezado {
    width: 100%;
    height: auto;
}

header .logo {
    height: 80px;
}

header .titulo {
    color: white;
    font-size: 24px;
    text-align: center;
    flex-grow: 1;
    margin-left: -50px;
}

nav {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
}

section {
    margin-bottom: 40px;
}

header .titulo {
    background: linear-gradient(to right, #000, #d4af37);
    -webkit-background-clip: text;
    color: transparent;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 5px 0;
}

form input, form textarea {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
}

form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.encabezado {
    position: relative;
    height: 300px; /* Ajusta la altura según necesites */
    overflow: hidden;
}

.encabezado-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Ajusta el valor alpha para la transparencia */
    z-index: 1;
}

.encabezado-imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}

.logo {
    position: absolute;
    top: 20px; /* Ajusta la posición del logo según necesites */
    left: 20px; /* Ajusta la posición del logo según necesites */
    width: 150px; /* Ajusta el tamaño del logo según necesites */
    z-index: 2;
}

.titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
}

nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
  }

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
